<!DOCTYPE html>
<html>
<head>
  <title>自分史上最高のプロフィール写真を撮ろう｜プルクラ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ogp -->
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:title" content="自分史上最高の写真を撮ろう｜プルクラ"/>
  <meta property="og:url" content="" />
  <meta property="og:image" content="">
  <meta property="og:description" content=""/>
  <meta property="og:site_name" content="プルクラ" />

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <link rel="shortcut icon" href="images/favicon.ico" >

</head>

<body>
<header class="header">
  <div class="container">
    <h1 class="header_name">自分史上最高の写真を撮ろう｜プルクラ</h1>
  </div>
</header>
<div class="header-sub">
  <div class="container">
    <img src="images/logo.png" class="header-sub_logo">
  </div>
</div>

<div class="hero-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-center">
        <img src="images/catch-white.png" class="hero-header_catch img-responsive">
        <a href="form.html" class="btn btn-agree btn-lg">撮影を予約する</a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-push-5">
        <h2 class="section-title">「ヒト」を撮ること専門のカメラマンが<br class="hidden-sm hidden-xs">あなたのお気に入りの場所で、<br class="hidden-sm hidden-xs">
"自分史上最高の写真"を撮影します。</h2>
        <hr class="hr-sm">
        <div class="section-contents">「人物」の撮影経験が豊富で、厳選されたカメラマンだけが同行します。ナチュラルな１面を、素晴らしい技術で、質にこだわり撮影します。</div>
      </div>
      <div class="col-sm-5 col-sm-pull-7">
        <img src="images/sub.jpg" class="img-responsive margin-bottom-30 margin-top-30">
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-theme">
  <div class="container">
    <div class="section-title margin-bottom-20 text-center">Facebookやお見合いのプロフィール写真にぴったり！</div>
    <div class="row flex-stretch">
      <div class="col-sm-6">
        <div class="point">
          <div class="point_number">1</div>
          <div class="point_catch">全て込みで¥9,800〜<br><small>大幅な追加料金なし</small></div>
          <img src="images/point1.png" class="point_image img-responsive">
          <div class="point_description">撮影費・レタッチ費・写真データ費合わせて¥9800~。他のように修正料金、データ料金を別途でいただくことは一切ございません。<br>交通費は別途¥1,500かかります。</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="point">
          <div class="point_number">2</div>
          <div class="point_catch">Webから簡単申し込み<br><small>打ち合わせもメールで</small></div>
          <img src="images/point2.png" class="point_image img-responsive">
          <div class="point_description">事前のやり取りはスムーズにメールやLINEで。Webから簡単にいつでもお申し込みができます。</div>
        </div>
      </div>
    </div>
    <div class="text-center margin-top-30 margin-bottom-15">
      <a href="form.html" class="btn btn-agree btn-lg">撮影を予約する</a>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="section-title text-center">予約〜データ受け渡しの流れ</div>
    <div class="flow flow-left">
      <i class="fa fa-pencil-square-o"></i>
      <div class="flow_content">
        <div class="flow_step">1. 撮影予約</div>
        <div class="flow_description">撮影予約フォームから必須項目を記入し、ご応募ください。</div>
      </div>
    </div>
    <div class="flow flow-right">
      <i class="fa fa-envelope-o"></i>
      <div class="flow_content">
        <div class="flow_step">2. 担当者と日程を決める</div>
        <div class="flow_description">担当者から、2日以内に連絡が来ます。</div>
      </div>
    </div>
    <div class="flow flow-left">
      <i class="fa fa-credit-card"></i>
      <div class="flow_content">
        <div class="flow_step">3. お支払い</div>
        <div class="flow_description">担当者から、Paypalのお支払いについてのメールが届きます。</div>
      </div>
    </div>
    <div class="flow flow-right">
      <i class="fa fa-camera-retro"></i>
      <div class="flow_content">
        <div class="flow_step">4. 撮影</div>
        <div class="flow_description">事前にカメラマンと決めた、お好きな場所で撮影します。</div>
      </div>
    </div>
    <div class="flow flow-left">
      <i class="fa fa-folder-open-o"></i>
      <div class="flow_content">
        <div class="flow_step">5. データの受け取り</div>
        <div class="flow_description">カメラマンが写真を編集・補正し、1週間以内にデータをお渡しします。</div>
      </div>
    </div>
    <div class="text-center margin-top-15 margin-bottom-15">
      <a href="form.html" class="btn btn-agree btn-lg">撮影を予約する</a>
    </div>
  </div>
</div>



<footer class="footer">
  <div class="text-center"><img src="images/logo-white.png"></div>
</footer>
</body>
</html>
